@model team10.Models.CentricUser

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>CentricUser</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.firstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.firstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.lastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.lastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UserTitleID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserTitleID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OfficeLocationID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OfficeLocationID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.birthday)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.birthday)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CoreValueID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CoreValueID)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.CentricUserID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
