@model IEnumerable<team10.Models.CentricUser>

@{
    ViewBag.Title = "Index";
}

<h2>Centric Employees</h2>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.firstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.lastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.birthday)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UserTitle)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UserLocation)
        </th>
        <th>
            Cheer Count
        </th>
        <th></th>
    </tr>

@foreach (var item in Model)
{
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.firstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.lastName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.birthday)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UserTitle)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UserLocation)
        </td>
        <td>
            @{
                Guid CentricUserID = item.CentricUserID;
                team10.DAL.Team10Context db = new team10.DAL.Team10Context();
                var CheerGetterCount = db.Cheer.Where(o => o.CheerGetter == CentricUserID).Count();

                if (CheerGetterCount != null)
                {
                    <span>
                        @CheerGetterCount
                    </span>
                }
            }

        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.CentricUserID }) |
            @Html.ActionLink("Details", "Details", new { id = item.CentricUserID }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.CentricUserID })
        </td>
    </tr>

}

</table>
