@model team10.Models.Cheer

@{
    ViewBag.Title = "Details";
}

<h2>Cheers!</h2>

<div>
    <h4>Details of this Cheer!</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Cheer Sender
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CheerSender.fullName)
        </dd>

        <dt>
            Cheer Reciever
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CheerReciever.fullName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ShortDesc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ShortDesc)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CoreValueCheered)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CoreValueCheered)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.CheerID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
