@model IEnumerable<team10.Models.Cheer>

@{
    ViewBag.Title = "Cheers!";
}

<h2>Cheers!</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CentricUserID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CheerGetter)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ShortDesc)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CoreValueCheered)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.CentricUserID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CheerGetter)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ShortDesc)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CoreValueCheered)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.CheerID }) |
            @Html.ActionLink("Details", "Details", new { id=item.CheerID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.CheerID })
        </td>
    </tr>
    
}

</table>
