@model team10.Models.CoreValue

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>CoreValue</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.valueName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.valueName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.valueDescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.valueDescription)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.coreValueID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
