@model IEnumerable<team10.Models.CoreValue>

@{
    ViewBag.Title = "Core Values";
}

<h2>Core Values</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.valueName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.valueDescription)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.valueName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.valueDescription)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.coreValueID }) |
            @Html.ActionLink("Details", "Details", new { id=item.coreValueID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.coreValueID })
        </td>
    </tr>
}

</table>
